API_URL=https://api.jharavi.in/api/v1
# In production:  API_URL=https://api.jharavi.in/api/v1

NEXT_PUBLIC_API_URL=https://api.jharavi.in/api/v1
# In production:  NEXT_PUBLIC_API_URL=https://api.jharavi.in/api/v1

PUBLIC_APP_URL=https://parlon.jharavi.in
NEXT_PUBLIC_APP_URL=https://parlon.jharavi.in
# In production:  https://parlon.jharavi.in  (both)
